<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryans URL Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="rhino3.png" type="image/png">
</head>
<body>
<div class="content-wrapper">
    <div class="menu-bar">
        <div class="logo">
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='rhino3.png') }}" alt="Ryan's URL Checker Logo">
    </a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>

            </ul>
        </div>
    </div>
        <br>
        <li><button onclick="toggleTheme()">Toggle Light mode</button></li>
        <br>
    <div class="container">
    <div class="logo">
        <img src="{{ url_for('static', filename='rhino3.png') }}" alt="Ryan's URL Checker Logo">
    </div>
        <h5>URL/Domain Safety Checker</h5>

        <!-- display error message, if any -->
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        <form method="POST">
            <input type="text" id="urlInput" name="urlInput" placeholder="Enter URL">
            <input type="submit" value="Submit">
        </form>
    <br>
     <p style="font-style: italic; width: 50%; margin: auto; text-align: center;"><em>Please note that there is a limit to the number of requests that you can make in a certain period of time, the current rate is 3/min</em></p>
    </div>

<script>
function toggleTheme() {
    const body = document.body;
    const currentTheme = body.getAttribute('data-theme');
    if (currentTheme === 'light') {
        body.setAttribute('data-theme', 'dark');
    } else {
        body.setAttribute('data-theme', 'light');
    }
}
</script>
</div>
<br>
<br>
<br>
<footer>
        <div class="footer-content">
            <p>Last updated on: April 20, 2024</p>
            <a href="https://github.com/ryanm292002/CAPSTONE" target="_blank">GitHub</a>
            <a href="apiryan.pythonanywhere.com" target="_blank">Donate</a>
        </div>
</footer>

</body>
</html>
